.container {
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(41, 41, 41);
    margin-top: 0px;
    padding-bottom: 50px;
}

.container > h1 {
    color: goldenrod;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 5px;
    text-decoration: underline;
    font-size: 50px;
}


.search_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.search_item > h1 {
    color: goldenrod;
    font-size: 50px;
    width: 20%;
}

.search_item > input {
    font-size: 20px;
    text-align: center;
    width: 380px;
    height: 40px;
    margin-right: 1%;
}

.search_item_button {
    font-size: 20px;
    width: 200px;
    height: 40px;
    background-color: gold;
    color: black;
    border-style: outset;
    border-width: 3px;
    border-radius:10px;
    border-color: black;
}

.search_item_button:hover {
    transition-duration: 0.3s;
    background-color: grey;
    color: black;
    cursor: pointer;
}

.card_items {
    border-radius: 50px;
    width: 60%;
    height: 400px;
}

.product {
    position: absolute;
    top: 50px;
    left: 23%;
    width: 300px;
    border-radius: 15px;
}

.items_available {
    position: relative;
    text-align: center;
    color: white;
    margin: 10px 10px 10px 10px;
}

.items_available > p {
    position: absolute;
    text-align: left;
    width: 30%;
    font-size: 28px;
    font-weight: 500;
    top: 100px;
    left: 43%;
}

.items_available > h1 {
    position: absolute;
    font-size: 40px;
    top: 23px;
    left: 43%;
}

.items_available > h2 {
    position: absolute;
    font-size: 30px;
    top: 60px;
    left: 43%;
    text-decoration: underline;
    color: white;
}

.items_available > h3 {
    position: absolute;
    font-size: 35px;
    top: 100px;
    left: 43%;
}

.items_available > h4 {
    position: absolute;
    font-size: 35px;
    top: 150px;
    left: 43%;
    text-decoration: underline;
}

.items_available > h5 {
    position: absolute;
    text-align: left;
    width: 30%;
    font-size: 20px;
    font-weight: 500;
    top: 210px;
    left: 44%;
}

.items_available_button:hover {
    transition-duration: 0.3s;
    background-color: grey;
    color: black;
    cursor: pointer;
}

.items_available_button {
    position: absolute;
    text-align: center;
    font-size: 20px;
    top: 340px;
    left: 68%;
    height: 10%;
    width: 8%;

    background-color: gold;
    color: black;
    border-style: outset;
    border-width: 3px;
    border-radius:10px;
    border-color: black;
}




