.container {
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    ;
}

.container > h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    font-size: 60px;
}

.items_available {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 1%;
}

.card_items {
    border-radius: 50px;
    width: 60%;
    height: 400px;
}

.product {
    position: absolute;
    top: 50px;
    left: 24%;
    width: 300px;
    border-radius: 15px;
}

.items_available {
    position: relative;
    text-align: center;
    color: white;
    margin: 10px 10px 10px 10px;
}

.items_available > p {
    position: absolute;
    text-align: left;
    width: 30%;
    font-size: 28px;
    font-weight: 500;
    top: 100px;
    left: 43%;
}

.items_available > h1 {
    position: absolute;
    font-size: 40px;
    top: 23px;
    left: 43%;
}

.items_available > h2 {
    position: absolute;
    font-size: 30px;
    top: 60px;
    left: 43%;
    text-decoration: underline;
    color: white;
}

.items_available > h3 {
    position: absolute;
    font-size: 35px;
    top: 100px;
    left: 43%;
}

.items_available > h4 {
    position: absolute;
    font-size: 35px;
    top: 150px;
    left: 43%;
    text-decoration: underline;
}

.items_available > h5 {
    position: absolute;
    text-align: left;
    width: 30%;
    font-size: 20px;
    font-weight: 500;
    top: 210px;
    left: 44%;
}

.items_available_button:hover {
    transition-duration: 0.3s;
    background-color: grey;
    color: black;
    cursor: pointer;
}

.items_available_button {
    position: absolute;
    text-align: center;
    font-size: 20px;
    top: 340px;
    left: 64%;
    height: 10%;
    width: 12%;

    background-color: gold;
    color: black;
    border-style: outset;
    border-width: 3px;
    border-radius:10px;
    border-color: black;
}

.payment_method {
    position: relative;
    text-align: center;
    margin-top: 5%;
}

.payment_method > h1 {
    position: absolute;
    font-size: 40px;
    top: 0px;
    left: 22%;
    text-decoration: underline;
}

.payment_method > h2 {
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 22%;
    width: 1000px;
}

.payment_method > h3 {
    position: absolute;
    font-size: 35px;
    top: 125px;
    left: 38%;
    text-decoration: underline;
}

.payment_method > button {
    position: absolute;
    text-align: center;
    font-size: 25px;
    top: 330px;
    left: 65%;
    height: 12%;
    width: 12%;

    background-color: gold;
    color: black;
    border-style: outset;
    border-width: 3px;
    border-radius:10px;
    border-color: black;

}

.payment_method:hover > button {
    background-color: gray;
    color: black;
    cursor: pointer;
}

.payment_card {
    position: absolute;
    top: 210px;
    left: 40%;
    width: 380px;
}

.g_cash {
    position: absolute;
    top: 235px;
    left: 41%;
    width: 150px;
    border-radius: 20px;
}

.cod {
    position: absolute;
    top: 225px;
    left: 51%;
    width: 150px;
    border-radius: 20px;
}

.pay_amount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.pay_amount > h1 {
    margin: 0px 50px 100px 10px;
    font-size: 48px;
}

.pay_amount > h3 {
    margin: 0px 50px 100px 10px;
    font-size: 48px;
    text-decoration: underline;
}

.pay_amount_button {
    margin: 0px 50px 100px 10px;
    font-size: 20px;
    width: 200px;
    height: 40px;
    background-color: gold;
    color: black;
    border-style: outset;
    border-width: 3px;
    border-radius:10px;
    border-color: black;
}
    

.pay_amount_button:hover {
    transition-duration: 0.3s;
    background-color: gray;
    color: black;
    cursor: pointer;
}