.container {
    display: flex;
    justify-content: space-between;
    font-family:'Courier New', Courier, monospace;
    align-items: center;
    background-color: darkred;
}

.title {
    display: flex;
    margin-left: 50px;
}

.title > img {
    margin: 10px 10px 0px 10px;
}

.title > h1 {
    font-size: 50px;
    margin-left: 30px;
}

.navbarButtons {
    display: flex;
    gap: 36px;
    margin-right: 30px;
}

.navbarButtons > button {
    transition-duration: 0.5s;
    font-size: 30px;
    width: 150px;
    height: 60px;
    background-color: pink;
    color: black;
    border-style: outset;
    border-width: 3px;
    border-radius:10px;
    border-color: black;
}

.navbarButtons > a {
    font-size: 40px;
    text-decoration: underline;
    font-weight: bold;
    margin-right: 50px;
}

.login_button:hover {
    background-color: red;
    color: black;
    cursor: pointer;
}

.sign_up_button:hover {
    background-color: red;
    color: black;
    cursor: pointer;
}

.login_button:after {
    content: 'asdasd';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }