.container {
    display: flex;
    justify-content: space-between;
    font-family:'Courier New', Courier, monospace;
    align-items: center;
    background-color: darkred;
}

.title {
    display: flex;
    margin-left: 50px;
}

.title > img {
    margin: 10px 10px 0px 10px;
}

.title > h1 {
    font-size: 50px;
    margin-left: 30px;
}