.container {
    margin: 80px 500px 0px 500px;
    font-family:'Courier New', Courier, monospace;
    position: relative;
}

.container > img {
    position: absolute;
    border-radius: 100px;
    width: 100%;
    height: 1150px
}

.forms {
    position: relative;
    text-align: center;

}

.details_label {
    
    font-size: 30px;
    font-weight: bold;
}

.details_input {
    font-size: 20px;
    text-align: center;
    width: 50%;
    height: 40px;
}

.button_submit {
    width: 20%;
    height: 40px;
    font-size: 20px;
    background-color: gold;
    color: black;
    border-style: outset;
    border-radius:10px;
    border-color: black;
}

.button_submit:hover {
    transition-duration: 0.3s;
    background-color: gray;
    color: black;
    cursor: pointer;
}

.button_signup {
    width: 20%;
    height: 40px;
    font-size: 20px;
    background-color: gold;
    color: black;
    border-style: outset;
    border-radius:10px;
    border-color: black;
}

.button_signup:hover {
    transition-duration: 0.3s;
    background-color: gray;
    color: black;
    cursor: pointer;
}

.forgot {
    font-size: 24px;
}
.forgot > a {
    text-decoration: underline;
}

.guide {
    color: red;
}
