.container {
    margin: 100px 300px 100px 300px;
    font-family:'Courier New', Courier, monospace;
    position: relative;
    background-color: black;
}

.container > img {
    border-radius: 100px;
    width: 100%;
    height: 700px;
}

.title {
    color: white;
    display: flex;
    align-items: center;
}

.title > h1 {
    font-size: 30px;
    margin-left: 100px;
    margin-right: 570px;
}

.title_button {
    transition-duration: 0.3s;
    font-size: 30px;
    width: 150px;
    height: 50px;
    margin-left: 20px;
    background-color: gold;
    color: black;
    border-style: outset;
    border-radius:10px;
    border-color: black;
}

.title_button:hover {
    background-color: gray;
    color: black;
    cursor: pointer;
}

.title_user {
    font-size: 20px;
    color: gold;
}

.title_detail {
    font-size: 28px;
}

.card_profile {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    align-items: center;
    margin-left: 200px;
    gap: 0px;
    
}

.card_profile > img {
    position: absolute;
    right: 100px;
    height: 290px;
    border-radius: 30px;
   
}

.name_label {
    position: absolute;
    text-decoration: underline;
}

.informations {
    position: absolute;
    text-align: center;
    width: 650px;
    left: 110px;
}

.other_label {
    position: absolute;
    text-decoration: underline;
    width: 200px;
    top: 180px;
    right: 10px; 
} 

.other_informations {
    position: absolute;
    text-align: center;
    width: 500px;
    top: 180px;
    left: 1px;
}